.container{
    display: flex;
    flex-flow: column wrap;

    width: 300px;
    height: 100%;
    background-color: cornflowerblue;
}

.wrapper, html, body{
    height: 100%;
}

button{
    height: 15%;
    background-color: cornflowerblue;
    border-style: initial;
}